<%- include('partials/header.ejs'); -%>
<div class="sub_container">
    <h1>About Us</h1>
    <br>
    <hr>
    <p><%= aboutcontent %></p>
    <br>
    <h2>Contact Us</h2>
    <hr>
    <br>
    <p><%= Contactcontent %></p>
    <br>
    <hr>
    <h2>Our Community </h2>
    <hr>
    <span>Email at<b> info@yourdailyjournalblog.com</b></span>
    <br>
    <span>Share it with us at <b>submissions@yourdailyjournalblog.com</b></span>
    <br>
    <span>Follow us on Twitter <b>@DailyJournalBlog</b></span>
    <br>
    <span>Follow us on Instagram <b>@YourDailyJournalBlog</></span>
    <br>
    <br>
    <hr>
</div>
<%- include('partials/footer.ejs'); -%>
