<%- include('partials/header.ejs'); -%>

<div class="sub_container_1">
    <br>
    <div class="bg-img">
        <img class="bg-img-1" src="images/bg1.jpg">
        <img class="bg-img-c" src="images/bgc.jpg">
    </div>
    <div class="home_txt">
        <p>Discover the power of daily reflection as you embark on a transformative journey of self-discovery through the pages of your personal journal. Explore the depths of your thoughts, emotions, and experiences, as each entry becomes a stepping stone towards a richer, more meaningful life.</p>
        <br>
        <br>
        <p>Join our thriving community of writers, dreamers, and seekers, as we celebrate the art of storytelling and the magic of introspection. Whether you're an avid journaler or a beginner taking your first steps, our platform offers a safe and inspiring space to pour your heart onto virtual pages.</p>
        <br>
        <br>
        <p><b>Compose</b> some Blogs in compose section and checkout previously added blogs in <b>blogs</b> section.</p>
    </div>
</div>
<%- include('partials/footer.ejs'); -%>
